<!-- <article style="width: 100vw; height: 100vh; overflow: hidden;"> -->
 <header dir="rtl" class="header light bg-dark text-white">
  <section class="hea-sectio" >
    <!-- headbar -->
      <div class="row headbar">
        <div class="col-12 col-sm-12  col-md-1  col-lg-1  col-xl-1 logo">
          <button class="btn btn-group-lg text-white" *ngIf="media == 'xs' || media == 'sm'"  (click)="sideToggele()" id="sidnavToggle"><i class="fa fa-bars fa-2x"></i></button>
          <a href=""><img src="./assets/img/1.png" alt="logo"></a>
        </div>
        <!-- header-search-logo -->
      <div class="  col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12 header-search-logo">
        
        <form autocomplete="off" class="col-xl-4 col-lg-6 col-md-8 col-9 col-sm-8   search-form">
          <div class="form-group form-control text-white">
            <label for="pwd"><i class="fa fa-search"></i></label>
            <input type="text" class="my-input text-white"  id="pwd"  autocomplete="false">
          </div>
        </form>
        <div class="col-2 cart">
          <button class="btn btn-group-lg text-white"><i class="fa fa-user fa-2x"></i></button>
          <span class="slice"></span>
          <button class="btn btn-group-lg cart-badeg text-white" ><i class="fa fa-shopping-cart fa-2x"></i><span class="my-badge bg-warning">5</span></button>
        </div>
      </div>
      <!-- cart -->

      </div>
      <nav class="nav" *ngIf="media != 'xs' && media != 'sm'"><app-nav></app-nav></nav>
      <nav class="scroll sidenav bg-dark" id="sidenave" *ngIf="(media == 'xs' || media == 'sm')" [ngClass]="sidbar=='in' ? 'sidenav-active':(sidbar=='out' ? 'sidnav':'')"><app-nav></app-nav></nav>
  </section>
</header>
<main role="main" class="main scroll bg-secondary" dir="rtl">
  <div class="ovely-none" [ngClass]="sidbar=='in' ? 'overly-active':(sidbar=='out' ? 'overly':'')"></div>
    <article>
      <router-outlet></router-outlet>
    </article>
    <footer>
    <app-footer></app-footer>
  </footer>
</main> 
<!--  -->
<!-- </article> -->


 