
    <div class="main-footer widgets-dark typo-light bg-dark text-white">
        <div class="container">
            <div class="row">
            
                <div class="col-xs-12 col-sm-6 col-md-3 ">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Angular SSR<span></span></h5>
                        <p> این تکنولوژی انگولار به ما این امکان را  میدهد تا  برنامه انگولار روی سرور اجرا شود و از طریق صقحات استایی به کلاینت ارائه شود </p>
                    </div>
                </div>
            
                <div class="col-xs-12 col-sm-6 col-md-3 ">
                <div class="widget no-box">
                <h5 class="widget-title">Quick Links<span></span></h5>
                <ul class="thumbnail-widget">
                <li>
                <div class="thumb-content"><a href="#.">Get Started</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">Top Leaders</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">Success Stories</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">Event/Tickets</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">News</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">Lifestyle</a></div>	
                </li>
                <li>
                <div class="thumb-content"><a href="#.">About</a></div>	
                </li>
                </ul>
                </div>
                </div>
            
                <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="widget no-box">
                <h5 class="widget-title">Get Started<span></span></h5>
                <p>Get access to your full Training and Marketing Suite.</p>
                <a class="btn bg-warning" href="" target="_blank">Register Now</a>
                </div>
                </div>
            
                <div class="col-xs-12 col-sm-6 col-md-3">
                
                <div class="widget no-box">
                <h5 class="widget-title">Contact Us<span></span></h5>
                
                <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>
                <ul class="social-footer2">
                <li class=""><a title="youtube" target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube fa-2x"></i></a></li>
                <li class=""><a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li class=""><a href="https://twitter.com" target="_blank" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></li>
                </ul>
                </div>
                </div>
            
            </div>
        </div>
    </div>
      
    <!-- <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p>Copyright Company Name © 2016. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div> -->